@font-face {
  font-family: 'F1 Bold';
  src: url('fonts/F1-Bold.ttf') format('truetype')
}

/* @font-face {
  font-family: 'Binggrae-Bold';
  src: url('fonts/Binggrae-Bold.otf') format('truetype')
} */

@font-face {
  font-family: 'MTSans-RegularCondensed';
  src: url('fonts/MTSans-RegularCondensed.ttf') format('truetype')
}

/* @font-face {
  font-family: 'ZenDotsKir';
  src: url('fonts/ZenDotsKir.ttf') format('truetype')
}

@font-face {
  font-family: 'PlayStation';
  src: url('fonts/PlayStation.ttf') format('truetype')
} */





:root {
  --body-width: 100vw;
  --vw: calc(var(--body-width) / 100);
}

@media (min-width: 500px) {
  :root {
    --body-width: calc(100vh * 0.5);
  }

  body {
    width: var(--body-width);
  }
}

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}



body {
  background-color: black;
  overflow-x: hidden;
  overscroll-behavior: none;
  height: 100vh;
  margin: 0 auto;
  font-family: 'MTSans-RegularCondensed', Arial, sans-serif;
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
}

/* body::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  overflow: hidden;
} */




.f1-title {
  /* width: calc(100 / 428 * 408 * var(--vw)); */
  /* margin: 0 calc(100 / 428 * 10 * var(--vw)); */
  color: #e10600;
  font-size: calc(100 / 428 * 30.4 * var(--vw));
  font-family: 'F1 Bold', Arial, sans-serif;
  margin-bottom: calc(100 / 428 * 12.8 * var(--vw));

  display: flex;
  align-items: start;
  justify-content: space-between;
  /* gap: calc(100 / 428 * 8 * var(--vw)); */
}



.f1-title svg {
  margin-top: calc(100 / 428 * 6 * var(--vw));
  width: 21.6%;
  fill: #e10600;
}





.stack {
  position: relative;
  width: 30%;
  margin-top: calc(100 / 428 * 6 * var(--vw));
}

.bar {
  height: calc(100 / 428 * 10.4 * var(--vw));
  background: #e10600;
  margin-bottom: calc(100 / 428 * 1.678 * var(--vw));
}

.bar.big {
  width: 100%;
  clip-path: polygon(0 0,
      100% 0,
      calc(100% - calc(100 / 428 * 10.4 * var(--vw))) 100%,
      0 100%);
}

.bar.small {
  width: 81%;
  clip-path: polygon(0 0,
      100% 0,
      calc(100% - calc(100 / 428 * 10.4 * var(--vw))) 100%,
      0 100%);
}


.stack-r {
  transform: rotate(180deg);
  margin-top: calc(100 / 428 * 4.4 * var(--vw));
}



















.waiting {
  display: flex;
  align-items: center;
  justify-content: right;
  color: #515151;
  font-size: calc(100 / 428 * 12 * var(--vw));
  margin: calc(100 / 428 * 2 * var(--vw)) calc(100 / 428 * 26 * var(--vw));
}

.waiting svg {
  fill: #515151;
  width: calc(100 / 428 * 12 * var(--vw));
  height: calc(100 / 428 * 12 * var(--vw));
}





.grand-prix {
  width: calc(100 / 428 * 408 * var(--vw));
  margin: 0 calc(100 / 428 * 10 * var(--vw));
  padding: 0 0 calc(100 / 428 * 16 * var(--vw)) 0;
  background: #1c1c1e;
  color: #fff;
  border-radius: calc(100 / 428 * 16 * var(--vw));
}

.next {
  width: calc(100 * var(--vw));
  position: fixed;
  top: 0;
  background: #111017;
  padding: 0 0 calc(100 / 428 * 8 * var(--vw)) 0;
  margin: 0;
  /* margin: 0 calc(100 / 428 * 6 * var(--vw)) 0 calc(100 / 428 * 6 * var(--vw)); */
  border-bottom: calc(100 / 428 * 2 * var(--vw)) solid #e10600;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.next .title {
  display: block;
  text-align: center;
  font-size: calc(100 / 428 * 18 * var(--vw));
  color: #e10600;
}

.next .card {
  padding: 0;
}


.card {
  padding: calc(100 / 428 * 16 * var(--vw)) 0 0 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: calc(100 / 428 * 22 * var(--vw));
  border-radius: calc(100 / 428 * 16 * var(--vw));
}

.sprint {
  border-left: calc(100 / 428 * 4 * var(--vw)) solid #e10600;
  margin-left: calc(100 / 428 * 6 * var(--vw));
}

.testing {
  border-left: calc(100 / 428 * 4 * var(--vw)) solid #fff;
  margin-left: calc(100 / 428 * 6 * var(--vw));
}

.card div {
  text-align: center;
  flex-shrink: 0;
}





.info {
  padding: 0 calc(100 / 428 * 16 * var(--vw));
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}

.info.open {
  max-height: 100vh;
}

.show-grand-prix-info svg {
  transition: transform 0.3s ease;
}

.show-grand-prix-info svg.open {
  transform: rotate(180deg);
}


.num {
  width: 10%;
  font-family: 'F1 Bold', Arial, sans-serif;
  font-size: calc(100 / 428 * 18 * var(--vw));
}

.num span {
  display: block;
}

.sprint-num {
  color: #e10600;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.flag img {
  width: 100%;
  /* height: 8%; */
  object-fit: cover;
  border-radius: calc(100 / 428 * 8 * var(--vw));
}

.country-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67.5%;
  margin-left: 2.5%;
}

.next .country-date {
  width: 75%;
}



.show-grand-prix-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  cursor: pointer;
}

.show-grand-prix-info svg {
  width: calc(100 / 428 * 16 * var(--vw));
  height: calc(100 / 428 * 16 * var(--vw));
  transition: transform .5s ease;
}




/* Выпадающая часть */
.details {
  width: 700px;
  background: #e5e5e5;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}



table {
  width: 100%;
  border-collapse: collapse;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

td:first-child {
  width: 120px;
  font-weight: bold;
}











.schedule .day {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #515151;
  /* padding: calc(100 / 428 * 4 * var(--vw)) calc(100 / 428 * 8 * var(--vw)); */
  padding-left: calc(100 / 428 * 8 * var(--vw));
  border-radius: calc(100 / 428 * 12 * var(--vw));
  margin-top: calc(100 / 428 * 8 * var(--vw));
  font-size: calc(100 / 428 * 18 * var(--vw));
  font-family: 'MTSans-RegularCondensed', Arial, sans-serif;
}

.schedule .day:first-child {
  margin-top: calc(100 / 428 * 16 * var(--vw));
}

.schedule .day .date {
  width: 30%;
}

.schedule .day .races {
  width: 70%;
  /* border-left: calc(100 / 428 * 2 * var(--vw)) solid #1c1c1e; */
  padding: calc(100 / 428 * 4 * var(--vw)) 0;
}

.schedule .day .races .race {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  /* padding: 0 calc(100 / 428 * 8 * var(--vw)); */
  padding: calc(100 / 428 * 4 * var(--vw)) calc(100 / 428 * 8 * var(--vw)) calc(100 / 428 * 4 * var(--vw)) 0;
  border-top: calc(100 / 428 * 1.5 * var(--vw)) solid #1c1c1e;
}

.schedule .day .races .race:first-child {
  padding-top: 0;
  border-top: none;
}

.schedule .day .races .race:last-child {
  padding-bottom: 0;
}

.schedule .day .races .race span:first-child {
  width: 75%;
  text-align: left;
}

.schedule .day .races .race span:nth-child(2) {
  width: 25%;
  text-align: right;
  /* border-left: calc(100 / 428 * 2 * var(--vw)) solid #1c1c1e; */
}